<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": "https://mahshadsa.github.io/#website",
  "url": "https://mahshadsa.github.io",
  "name": "Mahshad Sarikhani",
  "alternateName": ["Mahshad Sarikhani MD", "Dr. Mahshad Sarikhani"],
  "description": "Personal site of Mahshad Sarikhani, physician and clinical AI researcher working on quantitative MRI biomarkers and agentic AI pipelines for inflammatory bowel disease.",
  "inLanguage": "en-US",
  "author": { "@id": "https://mahshadsa.github.io/#person" },
  "publisher": { "@id": "https://mahshadsa.github.io/#person" },
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "https://mahshadsa.github.io/?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "@id": "https://mahshadsa.github.io/#profilepage",
  "url": "https://mahshadsa.github.io",
  "dateCreated": "2026-01-01T00:00:00+00:00",
  "dateModified": "2026-05-19T00:00:00+00:00",
  "mainEntity": { "@id": "https://mahshadsa.github.io/#person" }
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://mahshadsa.github.io/#person",
  "name": "Mahshad Sarikhani",
  "givenName": "Mahshad",
  "familyName": "Sarikhani",
  "honorificSuffix": "MD",
  "nationality": {
    "@type": "Country",
    "name": "Iran"
  },
  "jobTitle": "Physician and Clinical AI Researcher",
  "description": "Physician-researcher at Tehran University of Medical Sciences building quantitative MRI biomarkers and agentic AI tools for inflammatory bowel disease, with active collaborations at UCL and Mount Sinai.",
  "mainEntityOfPage": {
    "@type": "ProfilePage",
    "@id": "https://mahshadsa.github.io/#profilepage"
  },
  "affiliation": [
    {
      "@type": "MedicalOrganization",
      "name": "Shariati Hospital",
      "parentOrganization": {
        "@type": ["EducationalOrganization", "ResearchOrganization"],
        "name": "Tehran University of Medical Sciences",
        "url": "https://en.tums.ac.ir"
      }
    }
  ],
  "alumniOf": {
    "@type": ["EducationalOrganization", "ResearchOrganization"],
    "name": "Tehran University of Medical Sciences",
    "url": "https://en.tums.ac.ir",
    "description": "MD degree"
  },
  "knowsAbout": [
    "Inflammatory Bowel Disease",
    "Crohn's Disease",
    "Ulcerative Colitis",
    "Magnetic Resonance Enterography",
    "Magnetic Resonance Elastography",
    "Magnetic Resonance Imaging",
    "Quantitative MRI",
    "Bowel Motility MRI",
    "Bayesian Multilevel Modeling",
    "Medical Artificial Intelligence",
    "Multimodal AI",
    "Large Language Models in Radiology",
    "Abdominal Radiology",
    "Clinical Decision Support",
    "Lémann Index",
    "Agentic AI",
    "Mayo Endoscopic Score",
    "Vision-Language Models"
  ],
  "knowsLanguage": [
    {
      "@type": "Language",
      "name": "English",
      "alternateName": "en"
    },
    {
      "@type": "Language",
      "name": "Persian",
      "alternateName": "fa"
    }
  ],
  "sameAs": [
    "https://github.com/mahshadsa",
    "https://orcid.org/0000-0002-0475-3064",
    "https://scholar.google.com/citations?user=iKhNW9AAAAAJ&hl=en",
    "https://www.linkedin.com/in/mahshad-sarikhani-md-297b9a26b",
    "https://www.researchgate.net/profile/Mahshad-Sarikhani?ev=hdr_xprf"
  ],
  "memberOf": [
    {
      "@type": "Organization",
      "name": "European Society of Gastrointestinal and Abdominal Radiology",
      "alternateName": "ESGAR",
      "url": "https://www.esgar.org"
    },
    {
      "@type": "Organization",
      "name": "European Crohn's and Colitis Organisation",
      "alternateName": "ECCO",
      "url": "https://www.ecco-ibd.eu"
    }
  ],
  "colleague": [
    {
      "@type": "Person",
      "name": "Amir Reza Radmard",
      "jobTitle": "Associate Professor of Radiology",
      "affiliation": {
        "@type": ["EducationalOrganization", "ResearchOrganization"],
        "name": "Tehran University of Medical Sciences",
        "url": "https://en.tums.ac.ir"
      }
    },
    {
      "@type": "Person",
      "name": "Jean-Frédéric Colombel",
      "jobTitle": "Professor of Medicine",
      "url": "https://labs.icahn.mssm.edu/colombellab/",
      "affiliation": {
        "@type": ["MedicalOrganization", "EducationalOrganization"],
        "name": "Icahn School of Medicine at Mount Sinai"
      }
    },
    {
      "@type": "Person",
      "name": "Alex Menys",
      "Suffix": "PhD",
      "jobTitle": "Honorary Associate Professor and CEO of Motilent",
      "url": "https://scholar.google.co.uk/citations?user=SHfOKpsAAAAJ&hl=en",
      "sameAs": [
        "https://scholar.google.co.uk/citations?user=SHfOKpsAAAAJ&hl=en",
        "https://uk.linkedin.com/in/alex-menys-83675b75",
        "https://www.researchgate.net/profile/Alex-Menys"
      ],
      "affiliation": [
        {
          "@type": "ResearchOrganization",
          "name": "Centre for Medical Imaging, University College London",
          "url": "https://www.ucl.ac.uk/medical-imaging"
        },
        {
          "@type": "Organization",
          "name": "Motilent",
          "url": "https://www.motilent.co.uk"
        }
      ]
    }
  ]
}
</script>