<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://mahshadsa.github.io/#website",
      "url": "https://mahshadsa.github.io/",
      "name": "Mahshad Sarikhani",
      "description": "Personal site of Mahshad Sarikhani, a physician-researcher working on quantitative MRI, motility, imaging biomarkers, and computational methods in inflammatory bowel disease.",
      "inLanguage": "en",
      "author": { "@id": "https://mahshadsa.github.io/#person" }
    },
    {
      "@type": "Person",
      "@id": "https://mahshadsa.github.io/#person",
      "url": "https://mahshadsa.github.io/",
      "name": "Mahshad Sarikhani",
      "givenName": "Mahshad",
      "familyName": "Sarikhani",
      "honorificSuffix": "MD",
      "jobTitle": "Physician and researcher",
      "description": "Physician-researcher working on quantitative MRI, motility, imaging biomarkers, and computational methods in inflammatory bowel disease.",
      "affiliation": {
        "@type": "EducationalOrganization",
        "name": "Tehran University of Medical Sciences"
      },
      "sameAs": [
        "https://github.com/MahshadSa",
        "https://orcid.org/0000-0002-0475-3064",
        "https://scholar.google.com/citations?user=iKhNW9AAAAAJ",
        "https://www.linkedin.com/in/mahshad-sarikhani-md-297b9a26b"
      ]
    }
  ]
}
</script>
