<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://mahshadsa.github.io/#website",
      "url": "https://mahshadsa.github.io/",
      "name": "Mahshad Sarikhani",
      "description": "Personal site of Mahshad Sarikhani, a physician-researcher in quantitative MR enterography for ulcerative colitis: colonic motility, Bayesian modelling of disease activity, and clinical AI.",
      "inLanguage": "en",
      "author": { "@id": "https://mahshadsa.github.io/#person" }
    },
    {
      "@type": "Person",
      "@id": "https://mahshadsa.github.io/#person",
      "url": "https://mahshadsa.github.io/",
      "name": "Mahshad Sarikhani",
      "givenName": "Mahshad",
      "familyName": "Sarikhani",
      "honorificSuffix": "MD",
      "jobTitle": "Physician and researcher",
      "description": "Physician-researcher in quantitative MR enterography for ulcerative colitis: colonic motility, Bayesian modelling of disease activity, and clinical AI.",
      "affiliation": [
        {
          "@type": "Hospital",
          "name": "Shariati Hospital",
          "department": {
            "@type": "MedicalOrganization",
            "name": "Department of Radiology, Shariati Hospital"
          },
          "parentOrganization": {
            "@type": "CollegeOrUniversity",
            "name": "Tehran University of Medical Sciences"
          }
        },
        {
          "@type": "CollegeOrUniversity",
          "name": "Tehran University of Medical Sciences"
        }
      ],
      "knowsAbout": [
        "Quantitative MR enterography",
        "Ulcerative colitis",
        "Inflammatory bowel disease",
        "Colonic motility",
        "Bayesian modelling",
        "Clinical AI"
      ],
      "sameAs": [
        "https://github.com/MahshadSa",
        "https://orcid.org/0000-0002-0475-3064",
        "https://scholar.google.com/citations?user=iKhNW9AAAAAJ",
        "https://www.linkedin.com/in/mahshad-sarikhani-md-297b9a26b"
      ]
    }
  ]
}
</script>
